---
import { GISCUS } from "@config";
---

<div
  class="pb-6 pt-6 text-center text-gray-700 dark:text-gray-300"
  id="comment"
>
  <script is:inline {...GISCUS} async></script>
</div>

<script is:inline>
  document.addEventListener(
    "astro:page-load",
    () => {
      function changeGiscusTheme() {
        function sendMessage(message) {
          const iframe = document.querySelector("iframe.giscus-frame");
          if (!!iframe) {
            iframe.contentWindow.postMessage(
              { giscus: message },
              "https://giscus.app",
            );
          }
        }

        sendMessage({
          setConfig: {
            theme: localStorage.getItem("theme") || "dark",
          },
        });
      }

      changeGiscusTheme();
    },
    {
      once: false,
    },
  );
</script>
