---
import type { CollectionEntry } from 'astro:content'
import PostArticle from './PostArticle.astro'
import { getI18n } from "../../i18n/index";

export interface Props {
	posts: CollectionEntry<'blog'>[]
	maxDisplay: number
}

const { posts, maxDisplay } = Astro.props

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<div class='space-y-2 pb-8 md:space-y-5'>
	<h1
		class='text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14'
	>
		{i18n.LATEST_POSTS}
	</h1>
</div>
<ul class='divide-y divide-gray-200 dark:divide-gray-700'>
	{!posts.length && 'No se encontraron posts.'}
	{posts.slice(0, maxDisplay).map((post) => <PostArticle post={post} />)}
</ul>
