---
import { Icon } from 'astro-icon/components'
import { HEADER_NAV_LINKS, SITE } from '@config'
import ThemeSwitch from './ThemeSwitch.astro'
import MobileNav from './MobileNav.astro'

export interface Props {
	activeNav?: 'posts' | 'tags' | 'about' | 'search'
	title?: string
}

const { activeNav, title } = Astro.props
const ellipsisText = (text: string, length: number) => {
	if (text.length > length) {
		return text.substring(0, length) + '...'
	}
	return text
}

const getTitle = () => {
	const pathname = Astro.url.pathname
	if (pathname === '/') {
		return '/home'
	}

	if (pathname === '/blog' || pathname === '/snippets') {
		return pathname
	}

	if (pathname.startsWith('/blog/tags') || pathname.startsWith('/snippets/tags')) {
		return pathname
	}

	if (pathname.startsWith('/blog') || pathname.startsWith('/snippets')) {
		return pathname.split('/').slice(0, 3).join('/') + '/...'
	}

	return pathname
}

const pathName = ellipsisText(getTitle(), 30)
---

<header class='sticky top-0 z-10 bg-gray-300 py-4 dark:bg-gray-900'>
	<div class='mx-auto flex max-w-3xl items-center justify-between px-4 sm:px-6 xl:max-w-7xl'>
		<div>
			<a href='/' aria-label={SITE.title} title='Ir al inicio'>
				<div
					class='text-primary-color dark:text-primary-color-dark flex items-center justify-between truncate text-xl font-semibold hover:text-primary-500'
				>
					<span class='mr-1'>~$ </span>
					<span>fneira.dev</span>
				</div>
			</a>
		</div>
		<div class='flex items-center space-x-4 leading-5 sm:space-x-6'>
			{
				HEADER_NAV_LINKS.filter((link) => link.href !== '/').map((link) => (
					<a
						href={link.href}
						class={
							(activeNav === title ? 'active ' : '') +
							'hidden rounded-xl font-medium text-gray-900 hover:bg-gray-100 dark:text-gray-100 dark:hover:bg-opacity-10 sm:block sm:p-4'
						}
					>
						{link.title}
					</a>
				))
			}

			<button
				id='search-btn'
				aria-label='Search'
				class='hidden rounded-xl hover:bg-gray-100 dark:text-gray-100 dark:hover:bg-opacity-10 sm:block sm:p-4'
			>
				<Icon name='search' class='h-6 w-6 text-gray-900 dark:text-gray-100' />
			</button>

			<ThemeSwitch />
			<MobileNav />
		</div>
	</div>
</header>

<div id='docsearch'></div>

<style>
	button.DocSearch-Button {
		display: none;
	}
</style>

<script>
	import docsearch from '@docsearch/js'
	import '@docsearch/css'

	function initCustomSearchButton() {
		document.getElementById('search-btn').addEventListener('click', () => {
			;(document.querySelector('.DocSearch-Button') as HTMLButtonElement).click()
		})

		document.getElementById('mobile-search-btn')?.addEventListener('click', () => {
			;(document.querySelector('.DocSearch-Button') as HTMLButtonElement).click()
		})

		docsearch({
			container: '#docsearch',
			appId: 'YOUR_APP_ID',
			indexName: 'YOUR_INDEX_NAME',
			apiKey: 'YOUR_SEARCH_API_KEY',
			placeholder: 'Search...'
		})

		document.querySelector('.DocSearch-Button').setAttribute('style', 'display: none;')
	}

	document.addEventListener(
		'astro:page-load',
		() => {
			initCustomSearchButton()
		},
		{ once: false }
	)
</script>
